.product_redact dt,.product_redact dd{
    float: left;
}
.product_redact dt{
    margin-right: 20px;
    
}
.product_redact dl{
    margin-bottom: 20px;
    width: 14rem;
}
.product_redact dd{
    width: 11.8rem;
}
.product_redact dl p{
    line-height: 30px;
    
}